@media only screen {
    .banner-link, .banner-link:hover, .banner-link:visited, .banner-link.active {
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

    .home-main {
        min-height: 600px;
        /*text-align: center;*/
        width: 100%;
        overflow: visible;
    }

    .page-main {
        min-height: 600px;
        width: 100%;
        overflow: visible;
    }

    .banner-section {
        position: relative;
        width: 100%;
        /*margin-top: -125px;*/
        height: 687px;
        background-color: #0f325a
    }

    .sub-menu-block {
        box-shadow: 0 18px 18px rgba(0, 0, 0, .3);
    }

    .enterprise-menu-icon:before {
        background-position: 0 0
    }

    .digital-menu-icon:before {
        background-position: -50px 0
    }

    .governance-menu-icon:before {
        background-position: -100px 0
    }

    .resilient-menu-icon:before {
        background-position: -150px 0
    }

    .strategic-menu-icon:before {
        background-position: -200px 0
    }

    .robotic-menu-icon:before {
        background-position: -250px 0
    }

    .erp-menu-icon:before {
        background-position: -300px 0
    }

    .cloud-menu-icon:before {
        background-position: -350px 0
    }

    .menu-list-title {
        color: #004a93;
        font-weight: 700;
        font-size: 1.2rem;
        padding: 8px;
        text-decoration: none;
    }

    .menu-list-item a {
        color: #676767;
        display: block;
        position: relative;
        padding: 7px 10px 7px 25px;
        font-size: 15px;
        /*text-decoration: none;*/
    }

    .menu-list-item a:hover {
        color: #ff6420;
    }

    #mobile-menu {
        height: 1200px;
        background-color: #244081;
        width: 100%;
    }

    #mobile-menu a {
        text-decoration: none;
    }

    .mobile-menu-item {

    }

    .pointer {
        cursor: pointer;
    }

    .cf:before, .cf:after, .container:before, .container:after, ul:before, ul:after,
    .boxs:before, .boxs:after, .radioList:after, .radioList:before, .headerInner:after,
    .headerInner:before, .twoColsBlock:after, .twoColsBlock:before, .onethirdCols:after,
    .onethirdCols:before, .feildRow:after, .feildRow:before, .awardDetails:after,
    .awardDetails:before, .certificateLogos:after, .certificateLogos:before,
    .counterBlock:after, .counterBlock:before, .topLinks:after, .topLinks:before,
    .main-part:after, .main-part:before, .cols2Block:after, .cols2Block:before,
    .menuListWithImg:after, .menuListWithImg:before, .tabNav:after, .tabNav:before,
    .infAndControl:after, .infAndControl:before, .getInstantQuoteWrap:after, .getInstantQuoteWrap:before {
        content: " ";
        display: table
    }

    .cf:after, .container:after, .row:after, ul:after, .boxs:after, .radioList:after,
    .headerInner:after, .twoColsBlock:after, .onethirdCols:after, .feildRow:after,
    .awardDetails:after, .certificateLogos:after, .counterBlock:after, .topLinks:after,
    .main-part:after, .cols2Block:after, .menuListWithImg:after, .tabNav:after,
    .infAndControl:after, .getInstantQuoteWrap:after {
        clear: both
    }

    @font-face {
        font-family: 'fontello';
        src: url(/assets/css/fonts/fontello.eot);
        src: url(/assets/css/fonts/fontello.eot) format('embedded-opentype'),
        url(/assets/css/fonts/fontello.woff2) format('woff2'),
        url(/assets/css/fonts/fontello.woff) format('woff'),
        url(/assets/css/fonts/fontello.ttf) format('truetype'),
        url(/assets/css/fonts/fontello.svg) format('svg');
        font-weight: 400;
        font-style: normal
    }

    [class^=icon-]:before, [class*=" icon-"]:before {
        font-family: "fontello", sans-serif;
        font-style: normal;
        font-weight: 400;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .icon-down-open:before {
        content: '\e800'
    }

    .icon-up-open:before {
        content: '\e801'
    }

    .icon-left-open:before {
        content: '\e802'
    }

    .icon-right-open:before {
        content: '\e803'
    }

    .icon-search:before {
        content: '\e804'
    }

    .icon-twitter:before {
        content: '\e805'
    }

    .icon-facebook:before {
        content: '\e806'
    }

    .icon-linkedin:before {
        content: '\e807'
    }

    .icon-mail:before {
        content: '\e808'
    }

    .icon-phone:before {
        content: '\e809'
    }

    .icon-upload:before {
        content: '\f02f'
    }

    .icon-mail-alt:before {
        content: '\f0e0'
    }

    .icon-angle-left:before {
        content: '\f104'
    }

    .icon-angle-right:before {
        content: '\f105'
    }

    .icon-angle-up:before {
        content: '\f106'
    }

    .icon-angle-down:before {
        content: '\f107'
    }

    .icon-right:before {
        content: '\f178'
    }

    img {
        /*width: 100%*/
    }

    button {
        border: 0;
        cursor: pointer
    }

    button:focus {
        outline: none
    }

    p {
        margin-bottom: 0;
        line-height: 1.3
    }

    .text-blue {
        color: #0058ae !important;
    }

    .text-darkblue {
        color: #244081 !important;
    }

    .block-p-color {
        color: #595959;
    }

    .text-orange {
        color: #ff6420 !important;
    }

    .text-yellow {
        color: #ffd200;
    }

    .bt-orange {
        border-top: 2px solid #ff6420;
    }

    .text-gray {
        color: gray !important;
    }

    .text-dark-gray {
        color: darkgray !important;
    }

    .text-claret {
        color: #BA0F1A;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: open_sans, sans-serif;
        font-weight: 400;
        line-height: 1.2
    }

    ol, ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        transition: .3s ease all
    }

    a {
        outline: 0 none
    }

    a {
        text-decoration: underline;
        color: #e65a15;
        transition: all .3s ease 0ms;
        -webkit-transition: all .3s ease 0ms
    }


    body, html {
        color: #2e2e2e;
        font-size: 16px;
        font-family: open_sans, sans-serif;
    }

    h1, h2 {
        font-size: 2.4rem;
        line-height: 1.2
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.2
    }

    h5 {
        font-size: 1.3rem;
        line-height: 1.2
    }

    p, h1, h2, h3, h4, h5, h6, ul, ol, dd, table, fieldset, address {
        margin: 0
    }

    .start-10-lg {
        left: 10%;
    }

    .start-25-lg {
        left: 25%;
    }

    .default-btn {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background: #ff6420;
        /*margin: .4em;*/
        padding: .9em 2em;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        color: #fff !important;
        border: 1px solid #ff6420;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-decoration: none !important;
        border-radius: 4px;
        font-size: 16px !important;
    }

    .default-btn:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .default-btn:hover, .default-btn:focus {
        color: #ff6420 !important
    }

    .default-btn:hover:before, .default-btn:focus:before, .default-btn:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    .inner-banner-image {
        transform: scale(.85);
        align-self: center;
        position: relative
    }

    .inner-banner-image:before {
        content: '';
        position: absolute;
        right: -14px;
        top: 50%;
        transform: translateY(-50%);
        height: 48px;
        width: 1px;
        background-color: rgba(255, 255, 255, .35)
    }

    .inner-banner-image:last-child:before {
        content: none
    }

    .slider-sprite {
        transform: scale(0.8);
    }

    .bg-light-gray {
        background-color: lightgrey;
    }

    .bg-darkblue {
        background: #244081;
    }

    .bg-yellow {
        color: #ffd200;
    }

    .bg-grey {
        background-color: #f3f3f3;
    }

    .bg-devops {
        background: url('/assets/images/arcana/grey-bg.jpg') no-repeat 0 0 !important;
        background-size: cover;
        position: relative;
    }

    .bg-artificial_intelligence {
        width: 54px;
        height: 68px;
        background: url('../images/arcana/home-page-icons-set.png') -10px -183px;
    }

    .bg-big_data {
        width: 59px;
        height: 68px;
        background: url('../images/arcana/home-page-icons-set.png') -183px -10px;
    }

    .bg-machine_learning {
        width: 65px;
        height: 68px;
        background: url('../images/arcana/home-page-icons-set.png') -98px -10px;
    }

    #wrapper {
        width: 100%;
        margin: 0;
        padding: 0
    }

    .owl-prev {
        float: left;
    }

    .home-slider {
        height: 100%;
    }

    .home-slider .item {
        height: 100%;
        padding-top: 110px
    }

    .home-slider .owl-stage-outer, .home-slider .owl-stage, .home-slider .owl-item {
        height: 100%;
        width: 100%
    }

    .home-slider .owl-nav {
        top: 50%;
        position: absolute;
        width: 100%;
        padding: 0 30px
    }

    .home-slider.owl-carousel .owl-nav .owl-prev, .home-slider.owl-carousel .owl-nav .owl-next {
        background: rgba(0, 0, 0, .3);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: #fff;
        position: relative
    }

    .home-slider.owl-carousel .owl-nav .owl-prev span, .home-slider.owl-carousel .owl-nav .owl-next span {
        line-height: 28px;
        font-size: 45px
    }

    .home-slider.owl-carousel .owl-nav .owl-prev:focus, .home-slider.owl-carousel .owl-nav .owl-next:focus {
        outline: none;
        border: 0
    }

    .home-slider.owl-carousel .owl-nav .owl-next {
        float: right;
    }

    .home-slider .owl-dots {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .home-slider .owl-dots .owl-dot {
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 5px;
        opacity: .5;
    }

    .home-slider .owl-dots .owl-dot.active {
        opacity: 1;
    }

    .home-slider .item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banner-block h1, .banner-block h2 {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 400;
    }

    .banner-block h1 .banner-text, .banner-block h2 .banner-text {
        text-transform: initial;
        font-size: .4em;
        font-weight: 600;
        display: block;
    }


    .banner-block h5 {
        font-size: 1.5rem;
        line-height: 1.3;
        font-weight: 600;
    }

    .banner-block a {
        margin-top: 30px;
    }


    .home-slider .owl-item.active .banner-block h1 {
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .home-slider .owl-item.active .banner-block .banner-inner-slider {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: .25s;
    }

    .home-slider .owl-item.active .banner-block .default-btn {
        -webkit-animation-name: fadeInBtn;
        animation-name: fadeInBtn;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: .35s;
    }

    .scroll-down-btn {
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translateX(-50%);
        z-index: 2;
    }

    .scroll-down-btn a img {
        max-width: 24px;
        margin: 14px auto 8px;
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    img {
        -ms-interpolation-mode: bicubic;
        border: 0;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    .scroll-down-btn a {
        background-color: #fff;
        display: block;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        text-align: center;
    }

    /*************************    HEADER *************************/
    #header {
        background: #fff;
        position: relative;
        z-index: 1111;
    }

    #header h1 {
        font-size: 14px;
    }

    .logo {
        max-width: 170px;
        width: 100%;
        flex: 0 0 auto;
    }

    .logo-container {
        padding: 20px 30px;
        position: relative;
        width: 100%;
        z-index: 12;
    }

    /*.menu-container {*/
    /*    position: relative;*/
    /*    height: 100%;*/
    /*}*/
    .menu-container ul li a {
        padding: 8px;
        display: inline-block;
        color: #fff;
        position: relative;
        line-height: 1.2;
        text-decoration: none;
    }

    .top-menu {
        margin-bottom: 10px;
    }

    .top-menu ul {
        margin: 0;
        padding: 0;
    }

    .top-menu ul li {
        display: inline-block;
    }

    .top-menu .socialLinks {
        margin: 0;
        padding: 0;
    }

    .bottom-menu ul li, .top-menu ul li {
        list-style: none;
        padding-left: 15px;
    }


    /************************   MEDIA   **************************/
    .banner-2-block {
        flex-grow: 1;
        flex-basis: 0;
    }

    .banner-inner-image-2 {
        margin: 0 auto 10px
    }


    /* Technology Menu Logos */


    .banner-icon {
        width: 62px;
        height: 60px
    }

    p.calculated {
        width: calc(100% - 86px)
    }

    .banner-icon.icon12 {
        background-position: -314px 87px;
        margin: 0;
        height: 66px
    }

    .service-name {
        width: 32.33%
    }


    /* Scroll Text */
    .essSection {
        position: relative;
        overflow: hidden;
    }

    .scroll-text {
        position: absolute;
        color: #102151;
        font-weight: 700;
        font-size: 4.8rem;
        bottom: -22px;
        left: 0;
        z-index: 0;
        opacity: 0.04;
    }

    .scroll-text.right {
        left: auto;
        right: 0;
    }


    /* Banner Slider */
    @-webkit-keyframes fadeInBtn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeInBtn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }



    /***********************************  DROPDOWN ********************/
    a.drop {
        position: relative
    }

    /*a.home-main-menu.drop:after {*/
    /*    background: url(data:image/gif;base64,R0lGODlhCQAJAJEAABI8ZP///wAAAAAAACH5BAEAAAIALAAAAAAJAAkAQAIRlI+JEBcgmpKCQZVYekbzjBQAOw==) no-repeat right center;*/
    /*    width: 10px;*/
    /*    height: 10px;*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    right: 15px;*/
    /*    top: 50%;*/
    /*    margin-top: -5px*/
    /*}*/
    li.home-menu-item {
        display: inline;
        float: left;
        margin: 0;
        padding: 0;
        position: relative
    }

    a.home-main-menu {
        padding: 0 15px;
        line-height: 20px;
        color: #323232;
        font-size: 18px;
        display: inline-block;
        text-decoration: none;
        text-transform: none;
        font-weight: 600;
        position: relative
    }

    a.home-main-menu {
        padding: 11px 18px
    }


    .mob:before {
        content: 'mobile';
        display: none
    }

    a.home-main-menu {
        color: #fff
    }

    a.default-btn:hover {
        background: #fff
    }

    .home #logo a {
        overflow: visible
    }

    #nav > li ul li a:before {
        display: none
    }

    .bg-grey-wave {
        background-image: url(/assets/images/arcana/grey-background.jpg);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover
    }


    /************* Section ****************************/
    .section-padding {
        padding: 80px 0
    }

    .section-home-2 {
        background-image: url(/assets/images/arcana/rpa-home-background.jpg)
    }

    .cover-bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight
    }

    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp
    }

    /*.title h2 span {*/
    /*    display: block*/
    /*}*/
    .top-title {
        font-size: .45em;
        display: block !important;
        margin-left: 3px;
        margin-bottom: 5px
    }

    .title p {
        margin-bottom: 10px
    }

    .banner-bottom-slider .owl-dots {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    .banner-bottom-slider .owl-dots .owl-dot {
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background-color: #ff6420;
        margin: 0 5px;
        opacity: .5
    }

    .banner-bottom-slider .owl-dots .owl-dot.active {
        opacity: 1
    }

    .banner-bottom-slider-block {
        margin: 35px 10px 0;
        padding-bottom: 40px;
        min-height: 230px
    }

    .banner-bottom-slider-block h3 {
        font-weight: 700;
        margin: 15px 0
    }

    .banner-bottom-slider-block h3 a:hover {
        color: #ff6420
    }

    .banner-bottom-slider-block p {
        margin-bottom: 20px
    }

    .banner-bottom-slider-block > a {
        color: #102151;
        padding-bottom: 3px;
        border-bottom: 2px solid #ff6420;
        position: absolute;
        left: 15px;
        bottom: 0
    }

    .banner-bottom-slider-block ul {
        margin-bottom: 20px
    }

    .banner-bottom-slider-block img {
        max-width: 53px
    }


    .service-name {
        width: 32.33%
    }

    .service-name .slider-sprite {
        margin-right: 2px;
        flex: 0 0 auto
    }

    .service-name p {
        font-size: 14px;
        color: #595959
    }

    .service-name:hover p {
        color: #ff6420
    }

    .service-name {
        margin-right: 3px;
        flex-grow: 1
    }


    .border-button {
        position: relative;
        transition: .3s ease all
    }

    .border-button:hover:before {
        opacity: 1;
        right: -20px
    }

    .border-button:hover {
        letter-spacing: 1px
    }

    .border-button:before {
        content: '\f178';
        font-family: "fontello";
        position: absolute;
        right: 0;
        top: 5px;
        color: #ff6420;
        opacity: 0;
        transition: .3s ease all
    }

    .footer-section {
        background-color: #092a4b;
        padding: 20px 0;
        font-size: .8rem
    }

    .footer-section {
        background-color: #092a4b;
        padding: 30px 0;
        font-size: .8rem
    }

    .footer-section .socialLinks, .socialLinks.black {
        /*display: none;*/
        text-align: right;
        margin: 0 0 10px;
        padding: 0;
        list-style: none
    }

    .footer-section .socialLinks li, .socialLinks.black li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 6px
    }

    .footer-section .socialLinks li a, .socialLinks.black li a {
        color: #092a4b;
        font-size: 15px;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        padding: 2px 0;
        text-align: center
    }

    .footer-section .socialLinks li a, .socialLinks.black li a  {
        padding: 6px 0
    }

    .hamburger-menu {
        top: 25px;
        right: 25px;
        cursor: pointer;
        z-index: 100;
    }

    .hamburger-menu img {
        width: 40px;
        height: 40px;
    }

    .message-block {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        color: #fff
    }

    .message-block-strong {
        font-weight: 700;
        color: #ffd200
    }

    .close-cross {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        font-weight: 400;
        background: #15254f;
        position: absolute;
        right: 0;
        top: -2px;
        color: #fff;
        text-decoration: none
    }

    .close-cross:hover {
        background: #ffd200
    }
}


@media only screen and (max-width: 1399px) {
    .banner-block h1, .banner-block h2 {
        font-size: 3.5rem
    }

    .bottom-menu .submenu {
        padding: 15px
    }

    a.home-main-menu {
        padding: 11px 14px;
        font-size: 14px !important;
    }

    .section-padding {
        padding: 50px 0
    }

    .banner-bottom-slider-block h3 {
        margin: 4px 0 15px
    }

    .banner-bottom-slider-block {
        padding-bottom: 20px
    }


    .section-home-text {
        display: block;
    }
}

@media only screen and (max-width: 1199px) {
    h1, h2 {
        font-size: 2rem
    }

    h3 {
        font-size: 1.3rem
    }

    body, html {
        color: #2e2e2e;
        font-size: 15px
    }

    /*.title h2 span {*/
    /*    display: initial*/
    /*}*/
    .home-slider .item {
        padding-top: 60px
    }

    .bottom-menu ul li .submenu li {
        padding: 0
    }

    .section-home-text {
        display: block;
    }

    .banner-block h1, .banner-block h2 {
        font-size: 3rem
    }

    .banner-block a {
        margin-top: 30px
    }

    .banner-block {
        margin-top: 50px
    }

    .logo {
        max-width: 140px
    }

    .banner-section {
        height: 600px;
    }

    .sub-menu-block {
        min-height: 480px !important;
    }

    .logo {
        max-width: 140px
    }

    .bottom-menu ul li .submenu li {
        padding: 0
    }

    .banner-block h1, .banner-block h2 {
        font-size: 3rem
    }

    .banner-block a {
        margin-top: 30px
    }

    .banner-block {
        margin-top: 50px
    }

    .item {
        padding-top: 60px;
    }

    .banner-text h1, .banner-text h2 {
        font-size: 3rem;
    }

    .banner-text a {
        margin-top: 30px;
    }

    .banner-text {
        margin-top: 30px;
        font-size: 16px !important;
    }

    .banner-2-block p {
        font-size: 11px;
    }

    .banner-2-block {
        padding: 0 5px;
    }

    /*.title h2 span {*/
    /*    display: initial*/
    /*}*/
    .section-home-text {
        display: block
    }
}

@media only screen and (max-width: 991px) {
    .start-25-lg, .start-10-lg {
        left: 0;
    }

    .home .top-menu {
        margin-top: -25px
    }

    /*  */
    .footer-section {
        text-align: center
    }

    .logo {
        max-width: 120px
    }

    .menu-container ul li a {
        display: block;
        padding: 10px 0
    }

    .top-menu {
        display: none
    }

    .footer-section .socialLinks {
        display: block;
        margin-bottom: 6px
    }

    .footer-section .d-md-flex.align-items-center {
        display: block !important
    }

    h1, h2 {
        font-size: 1.8rem
    }

    body, html {
        color: #2e2e2e;
        font-size: 14px;
        overflow-x: hidden;
    }

    /*.title h2 span {*/
    /*    display: initial*/
    /*}*/
    .scroll-text {
        display: none
    }

    .menu-container {
        position: relative;
        height: 100%
    }

    .bottom-menu .submenu {
        left: 100%;
        padding: 15px;
        border: 0;
        width: 100%;
        transition: all .3s ease;
        display: block;
        margin: 0
    }

    .bottom-menu ul li {
        padding: 0;
        position: static
    }

    .bottom-menu ul li a {
        padding: 10px 25px 10px 10px
    }

    .submenu [class^=col-] {
        position: static
    }

    .section-padding {
        padding: 30px 0
    }

    .home-slider .item {
        padding-top: 0
    }

    .banner-block h1, .banner-block h2 {
        font-size: 3rem
    }

    .banner-block h5 {
        font-size: 1.2rem
    }

    .banner-block a {
        margin-top: 20px
    }

    .banner-inner-slider {
        display: none !important
    }

    .mainBanner .owl-nav {
        padding: 0 10px
    }

    .home-slider.owl-carousel .owl-nav .owl-prev, .home-slider.owl-carousel .owl-nav .owl-next {
        height: 40px;
        width: 40px
    }

    .home-slider.owl-carousel .owl-nav .owl-prev span, .home-slider.owl-carousel .owl-nav .owl-next span {
        line-height: 18px;
        font-size: 30px
    }

    .section-home-text {
        display: initial
    }

    .banner-bottom-slider-block p {
        font-size: .9rem
    }

    .homepage-service-section .service-name {
        width: 49%
    }

    .home-slider .owl-nav {
        display: none
    }


    .logo-container {
        padding: 15px
    }

    .menu-container ul li a {
        display: block;
        padding: 10px 0
    }


    .menu-container {
        position: relative;
        height: 100%
    }

    .banner-section {
        /*margin-top: -91px;*/
        height: 450px
    }

    .banner-block h1, .banner-block h2 {
        font-size: 3rem
    }

    .banner-block h5 {
        font-size: 1.2rem
    }

    .banner-block a {
        margin-top: 20px
    }
    .banner-text {
        margin-top: 20px;
        font-size: 14px !important;
    }

    #wrapper {
        position: relative;
        z-index: 2;
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0;
        background-color: #fff;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform .7s;
        -moz-transition: -moz-transform .7s;
        transition: transform .7s;
        -webkit-transition-timing-function: cubic-bezier(.91, .01, .6, .99);
        -moz-transition-timing-function: cubic-bezier(.91, .01, .6, .99);
        transition-timing-function: cubic-bezier(.91, .01, .6, .99)
    }

    .top-title {
        font-size: 16px
    }

    .section-home-text {
        display: initial
    }

    .banner-bottom-slider {
        padding-bottom: 60px
    }

    .banner-bottom-slider-block p {
        font-size: .9rem
    }

    .homepage-service-section .service-name {
        width: 49%
    }

    .border-button {
        letter-spacing: 1px
    }

    .border-button:before {
        opacity: 1;
        right: -20px
    }

    .footer-section {
        text-align: center
    }

    .footer-section .socialLinks {
        display: block;
        margin-bottom: 6px
    }

    .footer-section .d-md-flex.align-items-center {
        display: block !important
    }

    .default-btn {
        padding: 5px !important;
        margin-bottom: 25px;
        margin-top: 0;
    }
}


@media only screen and (max-width: 767px) {

    .message-block {
        font-size: 14px !important
    }

    .topNewBanner {
        padding-right: 32px;
        padding-top: 10px
    }

    .banner-section {
        height: 330px;
    }

    #wrapper {
        transform: none !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important
    }

    .banner-block h1, .banner-block h2 {
        font-size: 2.3rem
    }

    .banner-block h1 .banner-text, .banner-block h2 .banner-text {
        font-size: .4em
    }

    .banner-block a {
        margin-top: 30px
    }

    .banner-block h1, .banner-block h2 {
        font-size: 25px
    }

    .banner-block h1 .banner-text, .banner-block h2 .banner-text, .top-title {
        font-size: 14px
    }

    .section-padding {
        padding: 20px 0
    }


    .homepage-service-section .service-name {
        width: auto
    }

    .default-btn {
        padding: 5px !important;
        margin-bottom: 25px;
        margin-top: 0;
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 575px) {

    .mt-xs-0 {
        margin-top: 0;
    }

    .banner-block h1, .banner-block h2 {
        font-size: 1.8rem;
        padding: 0 20px
    }

    .d-xs-none {
        display: none !important;
    }

    .section-padding {
        padding: 20px 0
    }


    .top-title {
        font-size: 14px
    }

    .banner-bottom-slider {
        padding-bottom: 30px
    }

    .banner-bottom-slider-block p {
        margin-bottom: 15px
    }

    .banner-bottom-slider-block p {
        margin-bottom: 15px
    }

    .banner-bottom-slider-block h3 {
        margin: 4px 0 8px;
    }

    .banner-bottom-slider-block .slider-sprite {
        margin: 0 auto
    }

    .banner-bottom-slider-block {
        margin: 25px auto 0;
        max-width: 320px;
        text-align: center;
    }

    .banner-bottom-slider-block a {
        position: relative;
        left: 0
    }

    .homepage-service-section .service-name {
        width: 49%
    }

    .default-btn {
        padding: 5px !important;
        margin-bottom: 25px;
        margin-top: 0;
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 1025px) {
    .menu-part {
        width: 100%;
        padding: 0;
        text-align: center;
        background-color: transparent
    }

    .menu-part:before {
        content: 'desktop';
        display: none
    }

    a.home-main-menu {
        opacity: 1;
    }

    .menu-part nav {
        display: block
    }

    li.home-menu-item {
        display: inline-block;
        float: left
    }
}


@media only screen {
    .top-150 {
        top: 150px;
    }

    .top-10 {
        top: 10% !important;
    }

    .top-15 {
        top: 15% !important;
    }

    .top-25 {
        top: 25% !important;
    }

    .top-33 {
        top: 33% !important;
    }

    .top-67 {
        top: 67% !important;
    }

    .top-75 {
        top: 75% !important;
    }

    .start-5 {
        left: 5% !important;
    }

    .start-10 {
        left: 10% !important;
    }

    .start-15 {
        left: 15% !important;
    }

    .start-25 {
        left: 25% !important;
    }

    .start-33 {
        left: 33% !important;
    }

    .start-67 {
        left: 67% !important;
    }

    .start-75 {
        left: 75% !important;
    }

    .end-10 {
        right: 10% !important;
    }

    .end-20 {
        right: 20% !important;
    }

    .w-12 {
        width: 12.5%;
    }

    .w-33 {
        width: 32.3% !important;
    }

    .w-49 {
        width: 49% !important;
    }

    .w-80 {
        width: 80%;
    }

    .w-90 {
        width: 90%;
    }


    .w-px-40 {
        width: 40px !important;
    }
    .w-px-50 {
        width: 50px !important;
    }

    .w-px-75 {
        width: 75px !important;
    }

    .w-px-100 {
        width: 100px !important;
    }

    .w-px-150 {
        width: 150px !important;
    }

    .w-px-200 {
        width: 75px !important;
    }
    .w-px-480 {
        width: 480px !important;
    }

    .h-0 {
        height: 0px !important;
    }

    .h-px-50 {
        height: 50px !important;
    }

    .h-px-75 {
        height: 75px !important;
    }

    .h-px-100 {
        height: 100px !important;
    }

    .h-px-150 {
        height: 150px !important;
    }

    .h-px-200 {
        height: 75px !important;
    }

    .fs-14 {
        font-size: 14px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .fs-22 {
        font-size: 22px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-28 {
        font-size: 28px;
    }

    .zi-1 {
        z-index: 1;
    }

    .bottom-5 {
        bottom: 5%;
    }

    .bottom-10 {
        bottom: 10%;
    }
    .bottom-15 {
        bottom: 15%;
    }

    .bottom-20 {
        bottom: 20%;
    }

    .bottom-30 {
        bottom: 30%;
    }



    .top-5 {
        top: 5%;
    }

    .top-10 {
        top: 10%;
    }
    .top-15 {
        top: 15%;
    }

    .top-20 {
        top: 20%;
    }

    .top-30 {
        top: 30%;
    }

    .start-5 {
        left: 5%;
    }

    .start-10 {
        left: 10%;
    }
    .start-15 {
        left: 15%;
    }

    .start-20 {
        left: 20%;
    }

    .start-30 {
        left: 30%;
    }


    .end-5 {
        right: 5%;
    }

    .end-10 {
        right: 10%;
    }
    .end-15 {
        right: 15%;
    }

    .end-20 {
        right: 20%;
    }

    .end-30 {
        right: 30%;
    }

    .height-flex {
        flex-direction: column !important;
        display: flex;
        align-items: stretch;
    }

    .sub-menu-block {
        min-height: 550px !important;
    }

    /*input:invalid, textarea:invalid {*/
    /*    border: 2px dashed red;*/
    /*}*/
    /*input:valid {*/
    /*    border: 2px solid black;*/
    /*}*/

    .rightImgAnimate {
        -webkit-transform: translateX(-350px);
        transform: translateX(-350px)
    }

    .activeBlock .rightImgAnimate {
        animation: 1.5s ease-out .8s normal forwards 1 running moveRight;
        -webkit-animation: 1.5s ease-out .8s normal forwards 1 running moveRight
    }

    .leftAnimate {
        -webkit-transform: translateX(350px);
        transform: translateX(350px)
    }

    .activeBlock .leftAnimate {
        animation: moveLeft 1s .5s ease-out forwards;
        -webkit-animation: moveLeft 1s .5s ease-out forwards
    }

    @keyframes moveLeft {
        0% {
            transform: translateX(350px)
        }
        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @-webkit-keyframes moveLeft {
        0% {
            transform: translateX(350px)
        }
        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @keyframes moveRight {
        0% {
            transform: translateX(-350px)
        }
        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @-webkit-keyframes moveRight {
        0% {
            transform: translateX(-350px)
        }
        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    @-webkit-keyframes bgslide {
        from {
            background-position-x: 0;
        }
        to {
            background-position-x: -200%;
        }
    }

    @keyframes bgslide {
        from {
            background-position-x: 0;
        }
        to {
            background-position-x: -200%;
        }
    }
}