.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #244081 !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link.active:hover, .nav-link:focus, .nav-link.active {
    color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ff6420 !important;
}